@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    color: rgb(12 18 36);
    background-color: #f7f9fc;
  }

  ::selection {
    background: #1f7eff;
    color: white;
  }
}
